Django==4.2.23           # Stable LTS version of Django
django-cors-headers==4.1.0
django-environ==0.10.0
django-filter==23.2
django-timezone-field==5.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==21.2.0          # Needed for deployment on Koyeb
